{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{package.title}}</h1>

<img src="{{ package.image.url }}" width="500">

<p>{{package.description}}</p>

<p><strong>Destination:</strong>{{package.destination.name}}</p>
<p><strong>Price:</strong>KES{{package.price}}</p>
<p><strong>Duration:</strong>{{package.duration_days}}</p>
<p><strong>Available Slots:</strong>{{package.available_slots}}</p>

<a href="{% url 'book_tour' package.id %}">Book This Tour</a>


<a href="{% url 'list' %}">Back to Tours</a>

{% endblock %}